vti_encoding:SR|utf8-nl
vti_author:SR|SPAZTOP\\spazworm
vti_modifiedby:SR|SPAZTOP\\spazworm
vti_timelastmodified:TR|02 Jun 2014 04:52:49 -0000
vti_timecreated:TR|26 Mar 2014 00:05:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|templates/template.dwt html/registerproduct.html html/search.html html/product.html html/new.html html/sale.html html/cart.html html/viewownedgames.html html/registerproductfiles.html html/confirmorder.html html/index.html html/help.html html/layouttest.html html/register.html html/payment.html
vti_nexttolasttimemodified:TW|02 Jun 2014 02:02:00 -0000
vti_cacheddtm:TX|02 Jun 2014 04:52:49 -0000
vti_filesize:IR|6601
vti_cachedlinkinfo:VX|S|../images/bakgroundpattern.png
vti_cachedsvcrellinks:VX|FSUS|images/bakgroundpattern.png
